:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 2.5rem;

  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* SIDEBAR */
.sidebar {
  flex-basis: 40rem;
  background-color: #c6ebc9;
  /* padding: 3rem 5rem 4rem 5rem; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar-title {
  margin: 3rem 5rem 4rem 5rem;
  width: 80%;
  font-size: 30px;
  /* margin: 0; */
}

.results {
  list-style: none;
  /* margin-bottom: 2rem; */
  padding: 0;
}

.preview__link:link,
.preview__link:visited {
  display: flex;
  align-items: center;
  padding: 1.5rem 3.25rem;
  padding-right: 0.5rem;
  transition: all 0.3s;
  border-right: 1px solid #fff;
  text-decoration: none;
}
.preview__link:hover {
  background-color: #c6ebc9;
  transform: translateY(-2px);
}
.preview__link--active {
  background-color: white;
}
.preview__fig {
  flex: 0 0 5.8rem;
  border-radius: 50%;
  overflow: hidden;
  height: 5.8rem;
  margin-right: 2rem;
  position: relative;
  backface-visibility: hidden;
}
.preview__fig::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, black, black);
  opacity: 0.4;
}
.preview__fig img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.preview__data {
  display: grid;
  width: 100%;
}
.preview__title {
  float: left;
  font-size: 15px;
  font-weight: 400;
}
.preview__publisher {
  float: left;
  font-size: 12px;
}

/* Pagination Buttons */
.p8 a {
  background-color: #2ecc71;
  margin: auto 5px;
  color: #fff;
  font-weight: bold;
  border: 3px solid #2ecc71;
}

.p8 a:hover {
  background-color: #c6ebc9;
  transform: translateY(-2px);
}

.pagination {
  padding: 15px 0;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
}

.pagination a {
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}

/* Modal */

.r-title {
  margin-top: var(--rTitleMarginTop, 0) !important;
  margin-bottom: var(--rTitleMarginBottom, 0) !important;
}

/* 
helper to hide elements that are available only for screen readers. 
*/

.screen-reader {
  width: var(--screenReaderWidth, 1px) !important;
  height: var(--screenReaderHeight, 1px) !important;
  padding: var(--screenReaderPadding, 0) !important;
  border: var(--screenReaderBorder, none) !important;

  position: var(--screenReaderPosition, absolute) !important;
  clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
  overflow: var(--screenReaderOverflow, hidden) !important;
}

.popup-hidden {
  display: none;
}

.popup {
  width: 100%;
  height: 100vh;
  z-index: 10;
  /* display: flex; */
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
}

.popup::before {
  content: "";
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  position: fixed;
  left: 0;
  top: 50%;
}

.popup::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
}

.popup__container {
  box-sizing: border-box;
  padding: 5% 15%;
  color: black;
  height: calc(100vh - 40px); /* 1 */
  margin: auto; /* 1 */
  overflow: auto; /* 1 */
  overscroll-behavior: contain; /* 1 */
}

.popup__content {
  background-color: #f8efd4;
}

.popup__title {
  --rTitleMarginBottom: 1.5rem;
  font-size: 1.5rem;
  color: black;
}

.popup__close {
  width: 6rem;
  height: 6rem;

  position: fixed;
  top: 3rem;
  right: 3rem;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}

/*
animation
*/

.popup::before {
  will-change: height, top;
  animation: open-animation 0.6s cubic-bezier(0.83, 0.04, 0, 1.16) 0.65s both;
}

.popup::after {
  will-change: width, opacity;
  animation: line-animation 0.6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
}

@keyframes line-animation {
  0% {
    width: 0;
    opacity: 1;
  }

  99% {
    width: 100%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes open-animation {
  0% {
    height: 0;
    top: 50%;
  }

  100% {
    height: 100vh;
    top: 0;
  }
}

.popup__container {
  animation: fade 0.5s ease-out 1.3s both;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  width: 100px;
  background-color: var(--color-light--1);
  z-index: 1;
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}
